@font-face {
    font-family: 'TrajanPro';
    src: url('../assets/fonts/TrajanPro-Regular.eot');
    src: url('../assets/fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/TrajanPro-Regular.woff2') format('woff2'), url('../assets/fonts/TrajanPro-Regular.woff') format('woff'), url('../assets/fonts/TrajanPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}