/*------------------------- COLORS ---------------*/

$color--white:#ffffff;
$color--black:#000000;
$color--red: #c20040;
$color--gray: #464646;
$color--gray-light: #ececec;
$color--gray--button-text: #515151;
$color--gray--shadow: #888888;

/*------------------------- FONT INIT ---------------*/

$font__size--base: 10px;
$font__family--trajan-pro: 'TrajanPro';
$font__family--arial: Arial,
Helvetica,
sans-serif;