/*------------------------- COLORS ---------------*/

$color--white:#ffffff;
$color--black:#000000;

/*------------------------- FONT INIT ---------------*/

$font__size--base: 10px;
$font__family--trajan-pro: 'TrajanPro';
$font__family--trajan-pro2: 'TrajanPro';