/* BASE
-------------------------------------------------------------------------------- */
/*------------------------- COLORS ---------------*/
/*------------------------- FONT INIT ---------------*/
/*---------------------------------------------------
  VARIOUS MIXINS
  ---------------------------------------------------
  A combo of elements.less and home-written mixins
  Documentation of each mixin inline.
  ---------------------------------------------------*/
/*------------------------- MIXINS: SPRITE FUNCTIONS ---------------*/
/*------------------------- LAYOUT ---------------*/
/*------------------------- CSS3 MIXINS: GRADIENTS ---------------*/
/*------------------------- CSS3 MIXINS: BACKGROUNDS ---------------*/
/*------------------------- CSS3 MIXINS: BORDERS ---------------*/
/*------------------------- CSS3 MIXINS: SHADOWS ---------------*/
/*------------------------- CSS3 MIXINS: TRANSFORM & ANIMATIONS ---------------*/
/*------------------------- MIXINS: POSITIONING ---------------*/
/*------------------------- MIXINS: IMAGE REPLACEMENT ---------------*/
/*------------------------- CLEARFIX ---------------*/
/*---------------------- UNDERLINE (werkt niet met achtergrondafbeeldingen/gradients) ---------------*/
/* example:
  a {
    @include link-underline(#fff, #333, #0CBF);
  }
*/
/*---------------------- String Replace ---------------*/
/*---------------------- Font Face ---------------*/
/*---------------------- Pixels to Rem ---------------*/
@font-face {
  font-family: 'TrajanPro';
  src: url("../fonts/TrajanPro-Regular.eot");
  src: url("../fonts/TrajanPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanPro-Regular.woff2") format("woff2"), url("../fonts/TrajanPro-Regular.woff") format("woff"), url("../fonts/TrajanPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* FRAME
-------------------------------------------------------------------------------- */
* {
  outline-style: none; }

html {
  font-size: 10px; }

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem; }

/* ELEMENTS
-------------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none; }
    h1 a:focus, h1 a:hover,
    h2 a:focus,
    h2 a:hover,
    h3 a:focus,
    h3 a:hover,
    h4 a:focus,
    h4 a:hover,
    h5 a:focus,
    h5 a:hover,
    h6 a:focus,
    h6 a:hover {
      color: inherit;
      text-decoration: none; }

p,
ul,
ol {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.4; }

b,
strong {
  font-weight: bold; }

/* PARTIALS
-------------------------------------------------------------------------------- */
nav {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  padding: 38px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99;
  -webkit-transition: .5s all;
  transition: .5s all;
  /*sticky state, when we do scroll in the page we change the header*/
  /*opened state, when we open the top menu*/ }
  nav:after {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 995;
    opacity: 0;
    content: "";
    -webkit-transition: .5s all;
    transition: .5s all; }
  nav > ul {
    z-index: 999999;
    position: fixed;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffffff;
    height: 100vh;
    top: 0;
    padding: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 12px 0 32px -10px #888888;
    box-shadow: 12px 0 32px -10px #888888;
    z-index: 997;
    -webkit-transition: 1s all;
    transition: 1s all;
    left: -130%; }
    nav > ul:nth-of-type(2) {
      left: initial;
      right: 100%; }
    nav > ul > li {
      list-style: none;
      border-bottom: 1px solid #ececec; }
      nav > ul > li a {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #464646;
        font-size: 18px;
        text-decoration: none;
        display: block;
        padding: 21px 0 2px 0;
        letter-spacing: 1.5px; }
        nav > ul > li a:after {
          width: 20px;
          height: 20px;
          right: 0;
          display: block;
          float: right;
          font-size: 17px;
          text-align: center; }
        nav > ul > li a:hover {
          color: #c20040; }
          nav > ul > li a:hover:after {
            color: #c20040; }
        nav > ul > li a.has-child:after {
          content: "+"; }
        nav > ul > li a.has-child--expanded {
          color: #c20040; }
          nav > ul > li a.has-child--expanded:after {
            content: "-"; }
      nav > ul > li > ul {
        display: none; }
    nav > ul:nth-of-type(2) {
      position: absolute;
      left: 0;
      z-index: 996; }
      nav > ul:nth-of-type(2) li {
        border: 0; }
        nav > ul:nth-of-type(2) li a {
          font-size: 15px;
          padding: 12px;
          letter-spacing: 1px; }
  nav a.btn--nav, nav a.btn--nav-close-submenu {
    font-family: "TrajanPro";
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;
    text-decoration: none;
    z-index: 9999999; }
    nav a.btn--nav strong, nav a.btn--nav-close-submenu strong {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 18px; }
    nav a.btn--nav > span, nav a.btn--nav-close-submenu > span {
      width: 30px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      nav a.btn--nav > span > span, nav a.btn--nav-close-submenu > span > span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #ffffff;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        nav a.btn--nav > span > span:nth-child(1), nav a.btn--nav-close-submenu > span > span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center; }
        nav a.btn--nav > span > span:nth-child(2), nav a.btn--nav-close-submenu > span > span:nth-child(2) {
          top: 9px;
          -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center; }
        nav a.btn--nav > span > span:nth-child(3), nav a.btn--nav-close-submenu > span > span:nth-child(3) {
          top: 18px;
          -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center; }
  nav a.share {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    background: url(../img/icon_share_header.png) no-repeat center;
    top: 0;
    left: 148px;
    z-index: 9999999; }
    nav a.share .gauge-svg {
      position: relative;
      top: 0px;
      left: 10px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    nav a.share .gauge-path {
      stroke-width: 2;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000; }
  nav.sticky {
    position: fixed;
    background: #ffffff;
    height: 50px;
    padding: 13px 30px;
    -webkit-box-shadow: 10px -5px 34px 7px #888888;
    box-shadow: 10px -5px 34px 7px #888888; }
    nav.sticky .btn--nav strong {
      color: #464646; }
    nav.sticky .btn--nav > span > span {
      background: #464646; }
    nav.sticky a.share {
      display: block; }
  nav.opened {
    position: fixed;
    height: 100px;
    padding: 38px 30px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav.opened a.btn--nav strong, nav.opened a.btn--nav-close-submenu strong {
      color: #c20040; }
    nav.opened a.btn--nav > span > span, nav.opened a.btn--nav-close-submenu > span > span {
      background: #c20040; }
      nav.opened a.btn--nav > span > span:nth-child(1), nav.opened a.btn--nav-close-submenu > span > span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        top: -3px;
        left: 8px; }
      nav.opened a.btn--nav > span > span:nth-child(2), nav.opened a.btn--nav-close-submenu > span > span:nth-child(2) {
        width: 0%;
        opacity: 0; }
      nav.opened a.btn--nav > span > span:nth-child(3), nav.opened a.btn--nav-close-submenu > span > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        top: 18px;
        left: 8px; }
    nav.opened a.btn--nav-close-submenu {
      position: absolute;
      right: 40px; }
      nav.opened a.btn--nav-close-submenu > span > span {
        background: #515151; }
    nav.opened a.share {
      display: none; }
    nav.opened:after {
      display: block;
      opacity: 0.6; }
    nav.opened > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      left: 0; }
      nav.opened > ul:nth-of-type(2) {
        left: initial;
        right: 100%; }

/*************************************************************
**************** Responsivnes 300 <> 768 ********************
**************************************************************/
@media (min-width: 300px) and (max-width: 769px) {
  nav > ul {
    width: 100%; }
    nav > ul li a {
      font-size: 20px; }
      nav > ul li a:after {
        font-size: 20px; }
    nav > ul:nth-of-type(2) {
      width: 100%;
      z-index: 998;
      left: 0; }
      nav > ul:nth-of-type(2) li a {
        font-size: 20px; } }

/*************************************************************
**************** Responsivnes 300 <> 480 ********************
**************************************************************/
@media (min-width: 300px) and (max-width: 480px) {
  nav > ul {
    padding: 30px 15px; } }

header {
  background: url(../img/bg_header.png) no-repeat center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  header .logo {
    font-family: "TrajanPro";
    position: relative;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1;
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 70px;
    margin: 34px auto; }

#section1 {
  width: 100%;
  min-height: 2000px;
  background: #cccccc; }

/* PRINT
-------------------------------------------------------------------------------- */
/* ----------------------------------------------------
  PRINT.CSS
------------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
    font-family: "Times New Roman", Times, serif; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  header[role=banner],
  footer[role=contentinfo],
  #breadcrumbs {
    display: none; }
  .visuallyhidden {
    display: block; } }
