header {
    background: url(../img/bg_header.png) no-repeat center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .logo {
        font-family: $font__family--trajan-pro;
        position: relative;
        font-size: 34px;
        text-transform: uppercase;
        line-height: 1;
        color: #ffffff;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 250px;
        height: 70px;
        margin: 34px auto;
    }
}